<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<body>
  <!--left  bar-->
  <aside id="leftNav">
    <ul>
      <div>
        <li>
          <fa name="home"></fa><a routerLink="registrationStepper"> Dashboard</a>
        </li>
      </div>
      <div>
        <li>
          <fa name="users"></fa><a routerLink="gasBooking"> Gas Booking</a>
        </li>
      </div>
      <div>
        <li>
          <fa name="line-chart"></fa><a routerLink="newconnection"> New Connection</a>
        </li>
      </div>
      <div>
        <li>
          <fa name="check"></fa><a routerLink="query"> Queries </a>
        </li>
      </div>
      <div>
        <li>
          <fa name="car"></fa><a href="#"> Help</a>
      </div>
      <div>
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
    mdbWavesEffect>Launch demo modal</button>

  <div style="overflow-y: auto" mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-bottom-right " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="modal-header" type="button" class="close pull-right" aria-label="Close"
            (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Chat Bot</h4>
        </div>
        <div class="modal-body">
          <chat-dialog></chat-dialog>
        </div>

      </div>
    </div>
  </div>
</div>
    </ul>
  </aside>
  
  <main>
    <router-outlet></router-outlet>
  </main>
</body>