
  <header id="header1" class="header">

    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-container">
              <h1><span class="turquoise"> Making a path for LPG connections and other services a smooth
                  and easy way.</span></h1>
            </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6">
            <div class="image-container">
              <img class="img-fluid" src="/assets/images/try12.svg" alt="alternative">
            </div> <!-- end of image-container -->
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of header-content -->
  </header> <!-- end of header -->
  <!-- end of header -->
