.container {
    float: right;
    width: 80%;
    padding-right: 20%;
    margin-top:90px;
}
button{
    margin:15px;
}

select{
    padding:10px;
}
textarea{
    padding:10px;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }

  
.bg {
    /* The image used */
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/dot-grid.png");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
  }