<div class="bg">

  <div id="pricing" class="cards-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Business Services</h2>
          <p class="heading">E-gas seva will provide the users by with
            all the service online.<br> Customers can view all the services provided at all the
            locations. <br>It is highly befitting to provide services to customers.</p>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="card-title">Rate of LPG</div>
              <hr class="cell-divide-hr">
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <div class="media-body">
                The recent rate of LPG gas cylinder declared by the Indian
                    government.
                  </div>
                </li>
              </ul>
              <button class="btn btn-outline-info" (click)="basicModal1.show()" mdbWavesEffect>Read More</button>
            </div>
          </div> <!-- end of card -->

          <!--Start of Modal -->
          <div class="card">
            <div class="card-body">
              <div class="card-title">Security aspects</div>
              <hr class="cell-divide-hr">
              <ul class="list-unstyled li-space-lg">
                <li class="media">

                  <div class="media-body">
                    The Security aspects about Usability of LPG Gas can be known.
                  </div>
                </li>
              </ul>
              <button class="btn btn-outline-info" (click)="basicModal2.show()" mdbWavesEffect>Read More</button>
            </div>
          </div> <!-- end of card -->
          <div class="card">
            <div class="card-body">
              <div class="card-title">Procedure</div>
              <hr class="cell-divide-hr">
              <ul class="list-unstyled li-space-lg">
                <li class="media">

                  <div class="media-body">
              The procedures to be followed for getting a new LPG Gas
                    Connection.
                  </div>
                </li>
              </ul>
              <button class="btn btn-outline-info" (click)="basicModal3.show()" mdbWavesEffect>Read More</button>
            </div>
          </div> <!-- end of card -->
        </div>
      </div>


      <div mdbModal #basicModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-mm" role="document">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <div class="modal-title " id="myModalLabel">Recent rate of LPG</div>
            </div>
            <div class="modal-body">
              <img id="myImg1" src="https://www.iocl.com/images/static/Leh-2.jpg" alt="Snow"
                >
              <div id="modal-text">
                
                  <fa name="arrow-right"></fa> LPG Price in India is determined by the state-run oil companies and is revised on
                  a monthly basis.
                  Almost all the household in India has a LPG connection and it is mainly used for cooking purpose. <br>
                  <fa name="arrow-right"></fa> An
                  increase in LPG prices will affect the common man in general as they have to bear the brunt of the
                  rising fuel prices in the current market scenario.
                  <br>
                  <fa name="arrow-right"></fa> The best part of it is the government of India is
                  currently providing subsidy on the sale of domestic LPG cylinders to the consumers. The subsidy amount
                  is directly credited to the individuals bank account after the purchase of the cylinder.
                  <br>
                  

                

              </div>
            </div>

          </div>
        </div>
      </div>

      <div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-mm" role="document">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <div class="modal-title" id="myModalLabel">Security aspects</div>
            </div>
            <div class="modal-body">
              <img id="myImg2"
                src="https://images.unsplash.com/photo-1515368343486-27356be16838?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
              <div id="modal-text">
                
                  <fa name="arrow-right"></fa> The regulations are framework in character. They lay down general requirements
                  but rely for detailed
                  guidance upon codes of practice which may be approved from time to time by the Health and Safety
                  Authority. These regulations apply in addition to any other requirements under relevant statutory
                  provisions.<br>
                  <fa name="arrow-right"></fa>
                   LPG must be stored in adequate location wherein vessels or cylinders are suitably positioned having
                  regard to the relevant codes of practice
                  LPG plant must be designed to appropriate standards and be properly installed and commissioned by
                  competent persons<br>
                  <fa name="arrow-right"></fa>
                  <!-- -> Plant must be fitted with adequate safety and monitoring control devices and operated by competent
                  persons
                  Occupiers must notify the gas supplier of any structural or other changes which might affect the gas
                  installation
                  There must be a suitable programme of maintenance and testing by competent persons -->
                
              </div>
            </div>

          </div>
        </div>
      </div>

      <div mdbModal #basicModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-mm" role="document">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <div class="modal-title ">Procedures for booking gas</div>
            </div>
            <div class="modal-body">
              <img id="myImg3"
                src="https://t4.ftcdn.net/jpg/02/90/37/09/240_F_290370962_7LdCS39BTGQo4kxFvDE2OjqWVvJfH9xE.jpg"
                alt="Snow" >
              <div id="modal-text">
                
                
                  <fa name="arrow-right"></fa> There are many ways you can book your Gas. Some of them are as follows:

                  You can visit the website and book your refill online using your login credentials.<br>
                  <fa name="arrow-right"></fa>
                   If you are a new user,
                  you will be asked to register. This is one of the online booking methods.
                  You can send an SMS from your registered phone number to book your Gas.
                  <br>
                  <fa name="arrow-right"></fa>
                   To be able to book an Indane cylinder online, you should be a registered customer. If you are not
                  registered, you can register online by providing details
                
                
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small">Copyright © E Gas Sewa - Making LPG connection and services in a smooth way.</p>
      </div> <!-- end of col -->
    </div> <!-- enf of row -->
  </div> <!-- end of container -->
</div>