<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="container">

    <h1>Update Profile </h1>
    <form [formGroup]="updateprofile "  >
        <!-- Full Name -->
        <div class="form-group">
            <label for="name">Full Name : </label>
            <input type="text" class="form-control" id="name" name="name" formControlName="fullName">
        </div>



        <!-- Customer EmailId-->
        <div class="form-group">
            <label for="email">Email : </label>
            <input [class.is-invalid]="updateprofile.get('Email').invalid && updateprofile.get('Email').touched  "
                type="email" class="form-control" id="email" name="name"formControlName="Email">
            <small [class.d-none]="updateprofile.get('Email').valid ||
        updateprofile.get('Email').untouched " class="text-danger"> Email is required.</small>
        </div>






        <!--New password-->


        <div class="form-group">

            <label for="New _password">New Pasword: </label>
            <input    type="password" class="form-control" id="new_password "   name="new_password" formControlName="new_password">
            
        </div>


        <!-- Confirm password-->
        <div class="form-group">

            <label for="Confirm _password">Confirm Pasword: </label>
            <input [class.is-invalid]="updateprofile.errors?.missMatch" type="password" class="form-control" id="confirm_password " name="confirm_password" formControlName="confirm_password">
            <small class="text-danger" *ngIf="updateprofile.errors?.missMatch">Password do not Match</small>
            
        </div>


        <button type="submit" class="btn btn-primary">Update</button>



    </form>

</div>