

            <div class="container"   >                 
               

                <ng-container *ngFor="let message of messages | async">

                    <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
                        {{ message.content }}
                    </div>

                </ng-container>

                <input class="box" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"
                    placeholder="Your Message">
                <br>
                <br>
                <button (click)="sendMessage()" class="button">Send</button>
            </div>